<div class="container w-50">
    <form action="">
        <h2 class="course-title">Course Registration</h2>
        <div class="form-group">
            <label for="course-name">Course Name</label>
            <input 
                type="text" 
                class="form-control" 
                ngModel 
                name="courseName" 
                id="courseName" 
                #courseName="ngModel" 
                aria-describedby="courseHelp" 
                placeholder="Enter Course Name" 
                required
                minlength="5"
                maxlength="15"
                >
            <div class="alert alert-danger" *ngIf="courseName.touched && !courseName.valid">
                <div *ngIf="courseName.errors.required">CourseName is required</div>
                <div *ngIf="courseName.errors.maxlength">CourseName should be of minlength {{courseName.errors.maxlength.requiredLength}}</div>
                <div *ngIf="courseName.errors.minlength">CourseName should be of maxlength {{courseName.errors.minlength.requiredLength}}</div>
            </div>
        </div>
        <div class="form-group">
            <label for="course-name">Category</label>
            <select class="form-select" id="category"></select>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="consent">
            <label class="form-check-label" for="consent">I agree all <a href="#">Terms & conditions</a> </label>
          </div>
        <div class="form-group button">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>        
    </form>
</div>