.container {
    min-height: 50vh;
    margin-bottom : 50px
}

.course-title {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: rgb(16, 105, 156);
  margin: 30px
}

.form-group {
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(16, 105, 156);
}

.form-group label {
  margin-bottom: 10px;
  font-weight: 600;
  color: rgb(16, 105, 156);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.updateSuccess, .updateFailed {
  animation: disappear 3s ease-out forwards
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.updateFailed {    
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.updateSuccess {  
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.updateFailed span, .updateSuccess span {
  margin-right: 15px;
}