<div class="container user-profile w-75">
    <h1>{{userProfile.name}}</h1>
    <img [src]="userProfile.avatar_url" alt="" srcset="" width="300px" height="300px">
    <h3><strong>Company: </strong>{{userProfile.company}}</h3>
    <h3><strong>Location: </strong>{{userProfile.location}}</h3>
    <h3><strong>Email: </strong>{{userProfile.email}}</h3>
    <h3><strong>Bio: </strong>{{userProfile.bio}}</h3>
    <h3><strong>Twitter Username: </strong>{{userProfile.twitter_username}}</h3>
    <h3><strong>Public Repos: </strong>{{userProfile.public_repos}}</h3>
    <h3><strong>Followers: </strong>{{userProfile.followers}}</h3>
    <h3><strong>Following: </strong>{{userProfile.following}}</h3>
</div>