<header class="row navbar navbar-expand-lg navbar-light bg-light">
    <div class="col-7 header-content">
        <i class="fab fa-angular icon" style="color: red; "></i>
        <h1>ANGULAR LEARNING</h1>
    </div>
    <div class="col-5 header-links">
        <a routerLinkActive="active" routerLink="">HOME</a>
        <a routerLinkActive="active" routerLink="/followers">FOLLOWERS</a>
        <a routerLinkActive="active" routerLink="/courses">COURSES</a>
        <a routerLinkActive="active" routerLink="/signup">SIGNUP</a>
        <a routerLinkActive="active" routerLink="/changepassword">CHANGEPASSWORD</a>        
    </div>
</header>