<div class="container w-50">
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <h2 class="title">Change Password</h2>        
        
        <div class="form-group">
            <label for="oldPassword">Old Password</label>
            <input formControlName="oldPassword" type="password" id="oldPassword" class="form-control" (keyup.enter)="log(oldPassword)">
            <div class="alert alert-danger" *ngIf="oldPassword.touched && oldPassword.invalid">
                <div *ngIf="oldPassword.errors.required">Old Password is Required</div>
                <div *ngIf="oldPassword.errors.passwordNotMatch">Old Password does not match</div>
            </div>
        </div>
        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input formControlName="newPassword" type="password" id="newPassword" class="form-control" (keyup.enter)="log(newPassword)">
            <div class="alert alert-danger" *ngIf="newPassword.touched && newPassword.invalid">
                <div *ngIf="newPassword.errors.required">New Password is Required</div>
                <div *ngIf="newPassword.errors.pattern">Password should be of pattern {{newPassword.errors.pattern.requiredPattern}}</div>
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input formControlName="confirmPassword" type="password" id="confirmPassword" class="form-control" (keyup.enter)="log(confirmPassword)">
            <div class="alert alert-danger" *ngIf="confirmPassword.touched && confirmPassword.invalid">
                <div *ngIf="confirmPassword.errors.required">Confirm Password is Required</div>                
            </div>
            <div class="alert alert-danger" *ngIf="confirmPassword.valid && changePasswordForm.invalid && changePasswordForm.errors.confirmPasswordNotMatch">
                New Passwords do not match
            </div>
        </div>
        <div class="form-group button">
            <button [disabled]="changePasswordForm.invalid" class="btn btn-primary">Change Password</button>
        </div>
        <div 
            class="alert alert-success" 
            [ngClass]="{
                'show':passwordUpdateSuccess,
                'hide':!passwordUpdateSuccess
            }" 
            role="alert">
            Password updated successfully!!
        </div> 
    </form>
</div>