<app-public-header></app-public-header>
<!-- <app-search-box></app-search-box> -->
<!-- <app-doctors></app-doctors> -->
<!-- <app-contact></app-contact> -->
<app-course-module></app-course-module>
<!-- <app-sign-up></app-sign-up> -->
<!-- <app-dynamic-course></app-dynamic-course> -->
<!-- <app-change-password></app-change-password> -->
<app-footer></app-footer>
<!-- <app-pdp></app-pdp> -->
<!-- <app-parent></app-parent> -->
<!-- <app-ngcontent></app-ngcontent> -->
<!-- <app-like-parent></app-like-parent> -->
<!-- <app-ngcontent></app-ngcontent> -->