<div class="container w-75">
    <!-- <h2 class="title">List of Courses</h2> -->
    <table class="testruns table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">CourseId</th>
            <th scope="col">CourseName</th>
            <th scope="col">CourseType</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of courses; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{course.course_id}}</td>
            <td>{{course.course_name}}</td>
            <td>{{course.course_type}}</td>
            <td class="edit" (click)="updateCourse(course)" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-edit" style="font-size:1rem;"></i></td>
            <td class="delete" (click)="deleteCourse(course)"><i class="fas fa-trash-alt" style="font-size:1rem;"></i></td>
          </tr>   
        </tbody>
      </table>

      <div class="course-error" *ngIf="courseLoadError">
        <h4>An unexpected error occurred while loading your courses. Please try again after sometime.</h4>
      </div>  
      <div class="course-empty" *ngIf="courseEmpty">
        <h4>No registered course found</h4>
      </div> 
     
</div>