/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;   
}